# coding: utf-8

"""
    Scubawhere API Documentation

    This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

    OpenAPI spec version: 1.0.0
    Contact: bryan@scubawhere.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class CustomerApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_customer(self, email, firstname, lastname, **kwargs):
        """
        Create a new customer
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_customer(email, firstname, lastname, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str email:  (required)
        :param str firstname:  (required)
        :param str lastname:  (required)
        :param date birthday: 
        :param int gender: 
        :param str address_1: 
        :param str address_2: 
        :param str city: 
        :param str county: 
        :param str postcode: 
        :param int country_id: 
        :param str phone: 
        :param date last_dive: 
        :param int number_of_dives: 
        :param str chest_size: 
        :param str show_size: 
        :param str height: 
        :param list[int] certificates: 
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_customer_with_http_info(email, firstname, lastname, **kwargs)
        else:
            (data) = self.create_customer_with_http_info(email, firstname, lastname, **kwargs)
            return data

    def create_customer_with_http_info(self, email, firstname, lastname, **kwargs):
        """
        Create a new customer
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_customer_with_http_info(email, firstname, lastname, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str email:  (required)
        :param str firstname:  (required)
        :param str lastname:  (required)
        :param date birthday: 
        :param int gender: 
        :param str address_1: 
        :param str address_2: 
        :param str city: 
        :param str county: 
        :param str postcode: 
        :param int country_id: 
        :param str phone: 
        :param date last_dive: 
        :param int number_of_dives: 
        :param str chest_size: 
        :param str show_size: 
        :param str height: 
        :param list[int] certificates: 
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['email', 'firstname', 'lastname', 'birthday', 'gender', 'address_1', 'address_2', 'city', 'county', 'postcode', 'country_id', 'phone', 'last_dive', 'number_of_dives', 'chest_size', 'show_size', 'height', 'certificates']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_customer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'email' is set
        if ('email' not in params) or (params['email'] is None):
            raise ValueError("Missing the required parameter `email` when calling `create_customer`")
        # verify the required parameter 'firstname' is set
        if ('firstname' not in params) or (params['firstname'] is None):
            raise ValueError("Missing the required parameter `firstname` when calling `create_customer`")
        # verify the required parameter 'lastname' is set
        if ('lastname' not in params) or (params['lastname'] is None):
            raise ValueError("Missing the required parameter `lastname` when calling `create_customer`")

        resource_path = '/customer/add'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'email' in params:
            query_params['email'] = params['email']
        if 'firstname' in params:
            query_params['firstname'] = params['firstname']
        if 'lastname' in params:
            query_params['lastname'] = params['lastname']
        if 'birthday' in params:
            query_params['birthday'] = params['birthday']
        if 'gender' in params:
            query_params['gender'] = params['gender']
        if 'address_1' in params:
            query_params['address_1'] = params['address_1']
        if 'address_2' in params:
            query_params['address_2'] = params['address_2']
        if 'city' in params:
            query_params['city'] = params['city']
        if 'county' in params:
            query_params['county'] = params['county']
        if 'postcode' in params:
            query_params['postcode'] = params['postcode']
        if 'country_id' in params:
            query_params['country_id'] = params['country_id']
        if 'phone' in params:
            query_params['phone'] = params['phone']
        if 'last_dive' in params:
            query_params['last_dive'] = params['last_dive']
        if 'number_of_dives' in params:
            query_params['number_of_dives'] = params['number_of_dives']
        if 'chest_size' in params:
            query_params['chest_size'] = params['chest_size']
        if 'show_size' in params:
            query_params['show_size'] = params['show_size']
        if 'height' in params:
            query_params['height'] = params['height']
        if 'certificates' in params:
            query_params['certificates'] = params['certificates']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20029',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def delete_customer(self, id, **kwargs):
        """
        Delete a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_customer(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id:  (required)
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_customer_with_http_info(id, **kwargs)
        else:
            (data) = self.delete_customer_with_http_info(id, **kwargs)
            return data

    def delete_customer_with_http_info(self, id, **kwargs):
        """
        Delete a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_customer_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id:  (required)
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_customer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_customer`")

        resource_path = '/customer/delete'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'id' in params:
            query_params['id'] = params['id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse2003',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def edit_customer(self, id, **kwargs):
        """
        Update a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.edit_customer(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id:  (required)
        :param str email: 
        :param str firstname: 
        :param str lastname: 
        :param date birthday: 
        :param int gender: 
        :param str address_1: 
        :param str address_2: 
        :param str city: 
        :param str county: 
        :param str postcode: 
        :param int country_id: 
        :param str phone: 
        :param date last_dive: 
        :param int number_of_dives: 
        :param str chest_size: 
        :param str show_size: 
        :param str height: 
        :param list[int] certificates: 
        :return: InlineResponse20030
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.edit_customer_with_http_info(id, **kwargs)
        else:
            (data) = self.edit_customer_with_http_info(id, **kwargs)
            return data

    def edit_customer_with_http_info(self, id, **kwargs):
        """
        Update a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.edit_customer_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id:  (required)
        :param str email: 
        :param str firstname: 
        :param str lastname: 
        :param date birthday: 
        :param int gender: 
        :param str address_1: 
        :param str address_2: 
        :param str city: 
        :param str county: 
        :param str postcode: 
        :param int country_id: 
        :param str phone: 
        :param date last_dive: 
        :param int number_of_dives: 
        :param str chest_size: 
        :param str show_size: 
        :param str height: 
        :param list[int] certificates: 
        :return: InlineResponse20030
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'email', 'firstname', 'lastname', 'birthday', 'gender', 'address_1', 'address_2', 'city', 'county', 'postcode', 'country_id', 'phone', 'last_dive', 'number_of_dives', 'chest_size', 'show_size', 'height', 'certificates']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edit_customer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `edit_customer`")

        resource_path = '/customer/edit'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'id' in params:
            query_params['id'] = params['id']
        if 'email' in params:
            query_params['email'] = params['email']
        if 'firstname' in params:
            query_params['firstname'] = params['firstname']
        if 'lastname' in params:
            query_params['lastname'] = params['lastname']
        if 'birthday' in params:
            query_params['birthday'] = params['birthday']
        if 'gender' in params:
            query_params['gender'] = params['gender']
        if 'address_1' in params:
            query_params['address_1'] = params['address_1']
        if 'address_2' in params:
            query_params['address_2'] = params['address_2']
        if 'city' in params:
            query_params['city'] = params['city']
        if 'county' in params:
            query_params['county'] = params['county']
        if 'postcode' in params:
            query_params['postcode'] = params['postcode']
        if 'country_id' in params:
            query_params['country_id'] = params['country_id']
        if 'phone' in params:
            query_params['phone'] = params['phone']
        if 'last_dive' in params:
            query_params['last_dive'] = params['last_dive']
        if 'number_of_dives' in params:
            query_params['number_of_dives'] = params['number_of_dives']
        if 'chest_size' in params:
            query_params['chest_size'] = params['chest_size']
        if 'show_size' in params:
            query_params['show_size'] = params['show_size']
        if 'height' in params:
            query_params['height'] = params['height']
        if 'certificates' in params:
            query_params['certificates'] = params['certificates']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20030',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_all_customers(self, **kwargs):
        """
        Retrieve all customers
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_all_customers(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[Customer]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_all_customers_with_http_info(**kwargs)
        else:
            (data) = self.get_all_customers_with_http_info(**kwargs)
            return data

    def get_all_customers_with_http_info(self, **kwargs):
        """
        Retrieve all customers
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_all_customers_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: list[Customer]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_customers" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/customer/all'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Customer]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_customer(self, **kwargs):
        """
        Retrieve a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_customer(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: 
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_customer_with_http_info(**kwargs)
        else:
            (data) = self.get_customer_with_http_info(**kwargs)
            return data

    def get_customer_with_http_info(self, **kwargs):
        """
        Retrieve a customer by ID
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_customer_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: 
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_customer" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/customer'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'id' in params:
            query_params['id'] = params['id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20029',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
