# coding: utf-8

"""
    Scubawhere API Documentation

    This is the documentation for scubawhere's RMS API. This API is only to be used by authorized parties with valid auth tokens.  [Learn about scubawhere](http://www.scubawhere.com) to become an authorized consumer of our API 

    OpenAPI spec version: 1.0.0
    Contact: bryan@scubawhere.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ReportApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_revenue_stream_report(self, after, before, **kwargs):
        """
        Get a report containing the distribution of revenue made from all the tickets, packages, courses, addons, accommodations
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_revenue_stream_report(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20040
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_revenue_stream_report_with_http_info(after, before, **kwargs)
        else:
            (data) = self.get_revenue_stream_report_with_http_info(after, before, **kwargs)
            return data

    def get_revenue_stream_report_with_http_info(self, after, before, **kwargs):
        """
        Get a report containing the distribution of revenue made from all the tickets, packages, courses, addons, accommodations
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_revenue_stream_report_with_http_info(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20040
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['after', 'before']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_revenue_stream_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'after' is set
        if ('after' not in params) or (params['after'] is None):
            raise ValueError("Missing the required parameter `after` when calling `get_revenue_stream_report`")
        # verify the required parameter 'before' is set
        if ('before' not in params) or (params['before'] is None):
            raise ValueError("Missing the required parameter `before` when calling `get_revenue_stream_report`")

        resource_path = '/report/revenue-streams'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'before' in params:
            query_params['before'] = params['before']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20040',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_sources_report(self, after, before, **kwargs):
        """
        Get a report about the distribution of revenue between the diffrent source of bookings
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_sources_report(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20041
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_sources_report_with_http_info(after, before, **kwargs)
        else:
            (data) = self.get_sources_report_with_http_info(after, before, **kwargs)
            return data

    def get_sources_report_with_http_info(self, after, before, **kwargs):
        """
        Get a report about the distribution of revenue between the diffrent source of bookings
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_sources_report_with_http_info(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20041
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['after', 'before']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_sources_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'after' is set
        if ('after' not in params) or (params['after'] is None):
            raise ValueError("Missing the required parameter `after` when calling `get_sources_report`")
        # verify the required parameter 'before' is set
        if ('before' not in params) or (params['before'] is None):
            raise ValueError("Missing the required parameter `before` when calling `get_sources_report`")

        resource_path = '/report/sources'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'before' in params:
            query_params['before'] = params['before']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20041',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_training_utilisation_report(self, after, before, **kwargs):
        """
        Get a report containing the utilisation of all classes between the specified dates
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_training_utilisation_report(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_training_utilisation_report_with_http_info(after, before, **kwargs)
        else:
            (data) = self.get_training_utilisation_report_with_http_info(after, before, **kwargs)
            return data

    def get_training_utilisation_report_with_http_info(self, after, before, **kwargs):
        """
        Get a report containing the utilisation of all classes between the specified dates
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_training_utilisation_report_with_http_info(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['after', 'before']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_training_utilisation_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'after' is set
        if ('after' not in params) or (params['after'] is None):
            raise ValueError("Missing the required parameter `after` when calling `get_training_utilisation_report`")
        # verify the required parameter 'before' is set
        if ('before' not in params) or (params['before'] is None):
            raise ValueError("Missing the required parameter `before` when calling `get_training_utilisation_report`")

        resource_path = '/report/training-utilisation'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'before' in params:
            query_params['before'] = params['before']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20042',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_utilisation_report(self, after, before, **kwargs):
        """
        Get a report containing the utilisation of all trips between the specified dates
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_utilisation_report(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_utilisation_report_with_http_info(after, before, **kwargs)
        else:
            (data) = self.get_utilisation_report_with_http_info(after, before, **kwargs)
            return data

    def get_utilisation_report_with_http_info(self, after, before, **kwargs):
        """
        Get a report containing the utilisation of all trips between the specified dates
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_utilisation_report_with_http_info(after, before, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param date after:  (required)
        :param date before:  (required)
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['after', 'before']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_utilisation_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'after' is set
        if ('after' not in params) or (params['after'] is None):
            raise ValueError("Missing the required parameter `after` when calling `get_utilisation_report`")
        # verify the required parameter 'before' is set
        if ('before' not in params) or (params['before'] is None):
            raise ValueError("Missing the required parameter `before` when calling `get_utilisation_report`")

        resource_path = '/report/utilisation'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'after' in params:
            query_params['after'] = params['after']
        if 'before' in params:
            query_params['before'] = params['before']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='InlineResponse20042',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
